<span style="color: red;">{{message}}</span>
<div id="personal">
	<h2>	
		Blacklist Editor
	</h2>
	<h3>
		You can add url's, regular expressions or words to your personal blacklist below.
	</h3>
	<div class="pbform">
		<form action="{{indexurl}}" method="post">
			<input type="hidden" name="ticket" value="{{ticket|}}" />
			<input type="hidden" name="action" value="addpersonal" />
			<table class="pblform">
				<tr>
					<td>expression</td>
					<td><input class="pbltextinput" type="text" name="expression" size="50" /></td>
				</tr>
				<tr>
					<td>comment</td>
					<td><input class="pbltextinput" type="text" name="comment" size="50" /></td>
				</tr>
				<tr>
					<td>enable regular expressions ?</td>
					<td><input class="pbltextinput" type="checkbox" name="enable_regex" value="1" /></td>
				</tr>
				<tr>
					<td colspan="2" style="border:none;"><input type="submit" value="Add" /></td>
				</tr>
			</table>
		</form>
	</div>

	<table>
		<tr>
			<th>expression</th>
			<th>comment</th>
			<th>deletion</th>
		</tr>