<span style="color: red;">{{message}}</span>
<h2>Here you can generate .htaccess snippets</h2>
<div class="pbform" style="margin-left:10px;">
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="generate_ip" />
		<input type="submit" name="submit" value="Generate blocked IP's" />
	</form>
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="generate_rule" />
		<input type="submit" name="submit" value="Generate rewrite rules" />
	</form>
		<br />
		<br />
		<textarea class="pbltextinput" cols="60" rows="15" name="snippet" >{{snippet}}</textarea><br />
		<br />
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="reset_ip" />
		<input type="submit" name="submit" value="Reset blocked IP's" />
	</form>
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="reset_rule" />
		<input type="submit" name="submit" value="Reset rewrite rules" />
	</form>
</div>

