<span style="color: red;">{{message}}</span>
<h2>.htaccessファイルの生成</h2>
<div class="pbform" style="margin-left:10px;">
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="generate_ip" />
		<input type="submit" name="submit" value="IPルールの生成" />
	</form>
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="generate_rule" />
		<input type="submit" name="submit" value="Rewriteルールの生成" />
	</form>
		<br />
		<br />
		<textarea class="pbltextinput" cols="60" rows="15" name="snippet" >{{snippet}}</textarea><br />
		<br />
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="reset_ip" />
		<input type="submit" name="submit" value="IPブラックリストのリセット" onClick="return confirm('IPブラックリストをリセットしてもよろしいですか？');"/>
	</form>
	<form action="{{indexurl}}" method="post" style="display:inline">
		<input type="hidden" name="ticket" value="{{ticket|}}" />
		<input type="hidden" name="action" value="htaccess" />
		<input type="hidden" name="type" value="reset_rule" />
		<input type="submit" name="submit" value="Rewriteルールのリセット" onClick="return confirm('Rewriteルールをリセットしてもよろしいですか？');"/>
	</form><br />
	<span style="color: red;">
		ルールのリセットを行うと、これまでに蓄積された各データが全て消去されます。<br />
		消去したデータの復活はできませんのでご注意ください。
	</span>
</div>