<h2>ブラックリスト管理</h2>
<ul>
	<li>
		<a href="{{indexurl}}?action=blacklist&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			NGワード編集
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=testpage&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			NGワードのテスト
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=showipwhite&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			IPホワイトリスト編集
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=showipblock&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			IPブラックリスト編集
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=log&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_log.gif" />
			ブラックリスト動作ログ
		</a>
	</li>
	<li>
		<a href="{{optionurl}}">
			<img src="{{plugindirurl}}icons/i_prefs.gif" />
			プラグインオプション
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=htaccess&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			.htaccessファイルの生成
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=report&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			動作確認報告
		</a>
	</li>
</ul>
