<h2>Blacklist menu</h2>
<ul>
	<li>
		<a href="{{indexurl}}?action=blacklist&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			Blacklist Editor
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=testpage&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			Test Blacklist
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=showipwhite&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			Edit ip white list
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=showipblock&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			Show ip black list 
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=log&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_log.gif" />
			Blacklist Log
		</a>
	</li>
	<li>
		<a href="{{optionurl}}">
			<img src="{{plugindirurl}}icons/i_prefs.gif" />
			Blacklist options
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=htaccess&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			Generate .htaccess snippets
		</a>
	</li>
	<li>
		<a href="{{indexurl}}?action=report&amp;ticket={{ticket|}}">
			<img src="{{plugindirurl}}icons/i_edit.gif" />
			Bug report
		</a>
	</li>
</ul>
